<li><a href="~/Home">Trang chủ</a></li>
<li><a href="~/QLTinhLuong/HeSoLuong">Hệ số lương</a></li>
<li><a href="~/QLTinhLuong/QLHoSoHSL">Hồ sơ nâng lương</a></li>
<li><a href="~/QLTinhLuong/LuongKhoan">Lương khoán</a></li>
<li><a href="~/QLDanhMuc/DanhMuc">Danh mục</a></li>
