<li><a href="~/Home">Trang chủ</a></li>
<li><a href="~/QLThinhGiang/QLThinhGiang">Nhân sự</a></li>
<li>
    <a href="~/QLThinhGiang/nvQTHocTap">Học tập</a>
    <span>/</span>
    <a href="~/QLThinhGiang/QLTapSu">Tập sự</a>
    <span>/</span>
    <a href="~/QLThinhGiang/QLThuViec">Thử việc</a>
</li>
<li><a href="~/QLDanhMuc/DanhMuc">Danh mục</a></li>
