<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="HRMDBEntities" connectionString="metadata=res://*/Models.csdl|res://*/Models.ssdl|res://*/Models.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hrmttns.mssql.somee.com;initial catalog=hrmttns;user id=hrmadmin;password=12345678;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="HRMDBContext" connectionString="Data Source=.\ABU;Initial Catalog=HRMDB;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="hrmTTNSContext" connectionString="Data Source=cmu.vanlanguni.edu.vn;Initial Catalog=hrmTTNS;Persist Security Info=True;User ID=hrmadmin;Password=12345678;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="SOMEEContext" connectionString="Data Source=.\ABU;Initial Catalog=SOMEE;Integrated Security=True;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
    <add name="HRMTTNS0Context" connectionString="Data Source=tfs.vanlanguni.edu.vn;Initial Catalog=HRMTTNS0;Persist Security Info=True;User ID=hrmadmin;Password=12345678;MultipleActiveResultSets=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
